.accueil {
    padding-top: 5%;
    padding-left: 10%;
	color: black;
  	background-color: white;
    padding-bottom: 5%;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
  
.presentation-text {
    flex: 1;
    padding: 20px;
}
  
.presentation-image {
    flex: 1;
    text-align: center;
}
.presentation-image img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.parcours-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-top: 20px;
    vertical-align: middle; /* Alignement vertical au centre si nécessaire */
}

@media only screen and (max-width: 600px) {
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .parcours-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
        vertical-align: middle; /* Alignement vertical au centre si nécessaire */
    }
    .accueil {
        padding-top: 0;
        padding-left: 0;
        color: black;
          background-color: white;
    }
  }