
.project-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	margin: 5%;
	background: #312082;
    border: 2px var(--blanc) solid;
    border-radius: 20px;
}

.project-item.even {
	flex-direction: row-reverse;
}

.project-item-cover {
	width: 40%;
	height: auto;
	border-radius: 3%;
}


.project-desc {
	width: 60%;
	flex: 1;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

.ImgLink {
	width: 50px;
	border-radius: 50%;
}
.BlocFond {
    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px var(--blanc) solid;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
	.project-item {
		flex-direction: column;
	}
	.project-item.even {
		flex-direction: column;
	}
	.project-item-cover {
		width: 100%;
		margin: 0;
	}
	.project-desc {
		width: 100%;
		margin: 0;
	}
}